cfd_aps.log
cfd_aps.fls
cfd_aps.aux
cfd_aps.fdb_latexmk
cfd_aps.synctex.gz
cfd_aps.pdf
cfd_apsNotes.bib
cfd_aps.synctex(busy)
cfd_aps.blg
cfd_aps.bbl
full.synctex.gz
full.log
full.aux
cfd_aps.out
full.pdf
full.fls
full.fdb_latexmk
full.blg
full.bbl
